# Virtual Environment
venv/

# Python cache
__pycache__/

# Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Model files
*.pkl

# Temporary files
*.tmp

# System files
.DS_Store